<!DOCTYPE html>
<html lang="en">
<head>
    <title>Angular Material - Starter App</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, show-scalable=no" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./bower_components/datatables/media/css/jquery.dataTables.css">
    <link rel="stylesheet" href="./bower_components/datatables/media/css/jquery.dataTables_themeroller.css">
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,100,200,700,500,800' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css" />
    <link href="./bower_components/v-accordion/dist/v-accordion.css" rel="stylesheet" />
    <link href="bower_components/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="assets/app.css" />

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>

</head>

<body layout="row" ng-app="starterApp" ng-cloak="">
<div flex="initial" layout="column">
    <md-button class="md-icon-button" aria-label="Settings" ng-controller="shows" ng-click="openLeftMenu()">
        <md-icon md-svg-icon="assets/svg/search.svg"></md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="Settings" ng-controller="shows" ng-click="openSettingsMenu()">
        <md-icon md-svg-icon="assets/svg/settings.svg"></md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="Settings" ng-controller="shows" ng-click="openDesignerMenu()">
        <md-icon md-svg-icon="assets/svg/designer.svg"></md-icon>
    </md-button>
</div>

<md-sidenav md-component-id="selectedShow" class="md-sidenav-left">

    <md-toolbar ng-controller="showController as ul">
        <div class="md-toolbar-tools">

            <h2>
                {{ul.selected.name}}
            </h2>
            <span flex></span>
            <md-button class="" aria-label="Settings" ng-click="ul.toggleShowsList()">
                <md-icon md-svg-icon="assets/svg/close.svg"></md-icon>
            </md-button>


        </div>
    </md-toolbar>


    <md-content ng-controller="showController as ul">
        <p>{{ul.selected.content}}</p>
    </md-content>
</md-sidenav>

<md-sidenav md-component-id="settings" class="md-sidenav-left">

    <md-toolbar ng-controller="showController">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="More">
                <md-icon md-svg-icon="assets/svg/more_vert.svg"></md-icon>
            </md-button>
            <h2>
                <span>Settings</span>
            </h2>
            <span flex></span>
            <md-button class="" aria-label="Settings" ng-controller="shows" ng-click="openSettingsMenu()">
                <md-icon md-svg-icon="assets/svg/close.svg"></md-icon>
            </md-button>


        </div>
    </md-toolbar>

</md-sidenav>

<md-sidenav md-component-id="addShow" class="md-sidenav-left large-slideout">

    <md-toolbar ng-controller="showController">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="More">
                <md-icon md-svg-icon="assets/svg/more_vert.svg"></md-icon>
            </md-button>
            <h2>
                <span>Add Episode</span>
            </h2>
            <span flex></span>
            <md-button class="" aria-label="Settings" ng-controller="shows" ng-click="openAddShow()">
                <md-icon md-svg-icon="assets/svg/close.svg"></md-icon>
            </md-button>


        </div>
    </md-toolbar>
    <div id="addEpisodeInfo">
        <div class="form-group row">
            <label  class="col-sm-4 form-control-label">Episode Title</label>
            <div class="col-sm-8">
                <input class="form-control">
            </div>
        </div>

        <div class="form-group row">
            <label  class="col-sm-4 form-control-label">Short Episode Title</label>
            <div class="col-sm-8">
                <input class="form-control">
            </div>
        </div>

        <div class="form-group row">
            <label  class="col-sm-4 form-control-label">Run Time Duration</label>
            <div class="col-sm-8">
                <input class="form-control">
            </div>
        </div>

        <div class="form-group row">
            <label  class="col-sm-4 form-control-label">Traffic Code</label>
            <div class="col-sm-8">
                <input class="form-control">
            </div>
        </div>

        <div class="form-group row">
            <label  class="col-sm-4 form-control-label">Episode Code</label>
            <div class="col-sm-8">
                <input class="form-control">
            </div>
        </div>

        <div class="form-group row">
            <label  class="col-sm-4 form-control-label">Link Code</label>
            <div class="col-sm-8">
                <input class="form-control">
            </div>
        </div>

        <div class="form-group row">
            <label  class="col-sm-4 form-control-label">Episode #</label>
            <div class="col-sm-8">
                <input class="form-control">
            </div>
        </div>

        <div class="form-group row">
            <label  class="col-sm-4 form-control-label">Series Episode #</label>
            <div class="col-sm-8">
                <input class="form-control">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 form-control-label">Status</label>
            <div class="col-sm-8">
                <select class="form-control">
                    <option></option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 form-control-label">Content Rating</label>
            <div class="col-sm-8">
                <select class="form-control">
                    <option></option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 form-control-label">Content Rating Descriptor</label>
            <div class="col-sm-8">
                <select class="form-control">
                    <option></option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 form-control-label">SAP</label>
            <div class="col-sm-8">
                <select class="form-control">
                    <option> </option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label  class="col-sm-4 form-control-label">Broadcast Sequence</label>
            <div class="col-sm-8">
                <input class="form-control">
            </div>
        </div>

        <div class="form-group row">
            <label  class="col-sm-4 form-control-label">Keywords</label>
            <div class="col-sm-8">
                <input class="form-control">
            </div>
        </div>

    </div>

</md-sidenav>
<md-sidenav md-component-id="addVersion" class="md-sidenav-left">

    <md-toolbar ng-controller="showController">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="More">
                <md-icon md-svg-icon="assets/svg/more_vert.svg"></md-icon>
            </md-button>
            <h2>
                <span>Add Version</span>
            </h2>
            <span flex></span>
            <md-button class="" aria-label="Settings" ng-controller="shows" ng-click="openAddVersion()">
                <md-icon md-svg-icon="assets/svg/close.svg"></md-icon>
            </md-button>


        </div>
    </md-toolbar>

</md-sidenav>
<md-sidenav md-component-id="designer" class="md-sidenav-left">

    <md-toolbar ng-controller="showController">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="More">
                <md-icon md-svg-icon="assets/svg/more_vert.svg"></md-icon>
            </md-button>
            <h2>
                <span>Designer</span>
            </h2>
            <span flex></span>
            <md-button class="" aria-label="Settings" ng-controller="shows" ng-click="openDesignerMenu()">
                <md-icon md-svg-icon="assets/svg/close.svg"></md-icon>
            </md-button>


        </div>
    </md-toolbar>

</md-sidenav>

<md-sidenav md-component-id="edit-episode" class="md-sidenav-left large-slideout">

    <md-toolbar ng-controller="showController">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="More">
                <md-icon md-svg-icon="assets/svg/more_vert.svg"></md-icon>
            </md-button>
            <h2>
                <span>Edit Episode Details</span>
            </h2>
            <span flex></span>
            <md-button class="" aria-label="Settings" ng-controller="shows" ng-click="editEpisode()">
                <md-icon md-svg-icon="assets/svg/close.svg"></md-icon>
            </md-button>


        </div>

    </md-toolbar>
    <div id="episode-info">
        <div class="form-group row">
            <label  class="col-sm-4 form-control-label">Episode Title</label>
            <div class="col-sm-8">
                <input class="form-control" value="Blackout">
            </div>
        </div>

        <div class="form-group row">
            <label  class="col-sm-4 form-control-label">Short Episode Title</label>
            <div class="col-sm-8">
                <input class="form-control" value="Blackout">
            </div>
        </div>

        <div class="form-group row">
            <label  class="col-sm-4 form-control-label">Run Time Duration</label>
            <div class="col-sm-8">
                <input class="form-control" value="01:00:00:">
            </div>
        </div>

        <div class="form-group row">
            <label  class="col-sm-4 form-control-label">Traffic Code</label>
            <div class="col-sm-8">
                <input class="form-control" value="XRM06005">
            </div>
        </div>

        <div class="form-group row">
            <label  class="col-sm-4 form-control-label">Episode Code</label>
            <div class="col-sm-8">
                <input class="form-control" value="XRM-605">
            </div>
        </div>

        <div class="form-group row">
            <label  class="col-sm-4 form-control-label">Link Code</label>
            <div class="col-sm-8">
                <input class="form-control" value="">
            </div>
        </div>

        <div class="form-group row">
            <label  class="col-sm-4 form-control-label">Episode #</label>
            <div class="col-sm-8">
                <input class="form-control" value="5">
            </div>
        </div>

        <div class="form-group row">
            <label  class="col-sm-4 form-control-label">Series Episode #</label>
            <div class="col-sm-8">
                <input class="form-control" value="110">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 form-control-label">Status</label>
            <div class="col-sm-8">
                <select class="form-control">
                    <option>Active</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 form-control-label">Content Rating</label>
            <div class="col-sm-8">
                <select class="form-control">
                    <option>TV-MA</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 form-control-label">Content Rating Descriptor</label>
            <div class="col-sm-8">
                <select class="form-control">
                    <option>L, S, V</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 form-control-label">SAP</label>
            <div class="col-sm-8">
                <select class="form-control">
                    <option> </option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label  class="col-sm-4 form-control-label">Broadcast Sequence</label>
            <div class="col-sm-8">
                <input class="form-control" value="110">
            </div>
        </div>

        <div class="form-group row">
            <label  class="col-sm-4 form-control-label">Keywords</label>
            <div class="col-sm-8">
                <input class="form-control">
            </div>
        </div>

    </div>
</md-sidenav>

<md-sidenav md-component-id="left" class="md-sidenav-left">

    <md-toolbar ng-controller="showController">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="More">
                <md-icon md-svg-icon="assets/svg/more_vert.svg"></md-icon>
            </md-button>
            <h2>
                <span>Search</span>
            </h2>
            <span flex></span>
            <md-button class="" aria-label="Settings" ng-controller="shows" ng-click="openLeftMenu()">
                <md-icon md-svg-icon="assets/svg/close.svg"></md-icon>
            </md-button>


        </div>
    </md-toolbar>

    <!-- add `multiple` attribute to allow multiple sections to open at once -->
    <v-accordion class="vAccordion--default slide-out" multiple>

        <!-- add expanded attribute to open the section -->
        <v-pane>
            <v-pane-header ng-click="isOpen = !isOpen">
                Search Networks <i ng-class="{'fa-caret-up':isOpen, 'fa-caret-down':!isOpen}" class="fa pull-right"></i>
            </v-pane-header>

            <v-pane-content>
                    <div class="form-group row">
                        <label  class="col-sm-3 form-control-label">Filter</label>
                        <div class="">
                            <input class="form-control" value="Blackout">
                        </div>
                    </div>
            </v-pane-content>
        </v-pane>

        <v-pane>
            <v-pane-header ng-click="isOpen = !isOpen">
                Search Programs <i ng-class="{'fa-caret-up':isOpen, 'fa-caret-down':!isOpen}" class="fa pull-right"></i>
            </v-pane-header>

            <v-pane-content>
                Pane content #1
            </v-pane-content>
        </v-pane>

        <v-pane>
            <v-pane-header ng-click="isOpen = !isOpen">
                Search Production Cycles <i ng-class="{'fa-caret-up':isOpen, 'fa-caret-down':!isOpen}" class="fa pull-right"></i>
            </v-pane-header>

            <v-pane-content>
                Pane content #1
            </v-pane-content>
        </v-pane>

        <v-pane>
            <v-pane-header ng-click="isOpen = !isOpen">
                Search Distributors <i ng-class="{'fa-caret-up':isOpen, 'fa-caret-down':!isOpen}" class="fa pull-right"></i>
            </v-pane-header>

            <v-pane-content>
                Pane content #1
            </v-pane-content>
        </v-pane>

        <v-pane>
            <v-pane-header ng-click="isOpen = !isOpen">
                Search Contract Rights <i ng-class="{'fa-caret-up':isOpen, 'fa-caret-down':!isOpen}" class="fa pull-right"></i>
            </v-pane-header>

            <v-pane-content>
                Pane content #1
            </v-pane-content>
        </v-pane>

        <v-pane>
            <v-pane-header ng-click="isOpen = !isOpen">
                Search Episodes <i ng-class="{'fa-caret-up':isOpen, 'fa-caret-down':!isOpen}" class="fa pull-right"></i>
            </v-pane-header>

            <v-pane-content>
                Pane content #1
            </v-pane-content>
        </v-pane>

        <v-pane>
            <v-pane-header ng-click="isOpen = !isOpen">
                Search Sports/Teams <i ng-class="{'fa-caret-up':isOpen, 'fa-caret-down':!isOpen}" class="fa pull-right"></i>
            </v-pane-header>

            <v-pane-content>
                Pane content #1
            </v-pane-content>
        </v-pane>

        <v-pane>
            <v-pane-header ng-click="isOpen = !isOpen">
                Search Venue <i ng-class="{'fa-caret-up':isOpen, 'fa-caret-down':!isOpen}" class="fa pull-right"></i>
            </v-pane-header>

            <v-pane-content>
                Pane content #1
            </v-pane-content>
        </v-pane>

        <v-pane>
            <v-pane-header ng-click="isOpen = !isOpen">
                Search Cast / Crew / Awards <i ng-class="{'fa-caret-up':isOpen, 'fa-caret-down':!isOpen}" class="fa pull-right"></i>
            </v-pane-header>

            <v-pane-content>
                Pane content #1
            </v-pane-content>
        </v-pane>

        <v-pane>
            <v-pane-header ng-click="isOpen = !isOpen">
                Search Media <i ng-class="{'fa-caret-up':isOpen, 'fa-caret-down':!isOpen}" class="fa pull-right"></i>
            </v-pane-header>

            <v-pane-content>
                Pane content #1
            </v-pane-content>
        </v-pane>

        <v-pane>
            <v-pane-header ng-click="isOpen = !isOpen">
                Search Air Dates <i ng-class="{'fa-caret-up':isOpen, 'fa-caret-down':!isOpen}" class="fa pull-right"></i>
            </v-pane-header>

            <v-pane-content>
                Pane content #1
            </v-pane-content>
        </v-pane>

    </v-accordion>

</md-sidenav>


<div flex tabIndex="-1" role="main" class="" ng-controller="showController as ul">

    <v-accordion class="vAccordion--default" multiple>

        <!-- add expanded attribute to open the section -->
        <v-pane expanded>
            <v-pane-header ng-click="isOpen = !isOpen" id="show-list">
                <md-toolbar class="secondary">
                    <h1>Shows<i ng-class="{'fa-caret-up':isOpen, 'fa-caret-down':!isOpen}" class="fa pull-right"></i></h1>
                </md-toolbar>
            </v-pane-header>

            <v-pane-content>
                <div class="sep">
                    <table id="shows" class="display" width="100%"></table>
                </div>
            </v-pane-content>
        </v-pane>

        <v-pane>
            <v-pane-header ng-click="isOpen = !isOpen" id="gen-info">
                <md-toolbar layout="row" class="secondary">
                    <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show Show List">
                        <md-icon md-svg-icon="menu"></md-icon>
                    </md-button>
                    <h1>Show Details <i ng-class="{'fa-caret-up':isOpen, 'fa-caret-down':!isOpen}" class="fa pull-right"></i></h1>
                </md-toolbar>
            </v-pane-header>

            <v-pane-content>
                <ul class="quick-nav">
                    <li>
                        <md-button ng-model="collapsedGeneralInfo" ng-click="collapsedGeneralInfo=!collapsedGeneralInfo" id="gen-info-toggle">
                            <md-icon md-svg-icon="assets/svg/info.svg"></md-icon>
                            General Info
                        </md-button>
                    </li>

                    <li>
                        <md-button ng-model="collapsedProductionInfo" ng-click="collapsedProductionInfo=!collapsedProductionInfo">
                            <md-icon md-svg-icon="assets/svg/production.svg"></md-icon>
                            Production
                        </md-button>
                    </li>

                    <li>
                        <md-button ng-model="collapsedMediaVersion" ng-click="collapsedMediaVersion=!collapsedMediaVersion">
                            <md-icon md-svg-icon="assets/svg/versions.svg" class="versions-icon"></md-icon>
                            Media Versions
                        </md-button>
                    </li>
                </ul>
                <md-content flex="" class="content">

                    <div class="md-list md-has-header">

                        <div ng-show="collapsedGeneralInfo" ng-controller="showController" class="inline-form">
                            <div layout="column" ng-cloak class="md-inline-form col-md-6">
                                <form>
                                    <div class="form-group row">
                                        <label class="col-sm-2 form-control-label">Network</label>
                                        <div class="col-sm-10">
                                            <select class="form-control">
                                                <option>FX NETWORK</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 form-control-label">TYPE</label>
                                        <div class="col-sm-10">
                                            <select class="form-control">
                                                <option>Series</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label  class="col-sm-2 form-control-label">Show Title</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" value="Rescue Me">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label  class="col-sm-2 form-control-label">Short Show Title</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" value="Rescue Me">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label  class="col-sm-2 form-control-label">Show Code</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" value="XRM">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 form-control-label">Primary Category</label>
                                        <div class="col-sm-10">
                                            <select class="form-control">
                                                <option>ORIGINAL SERIES</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label  class="col-sm-2 form-control-label">Description</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" rows="3" placeholder="The crew of the New York City's 62 Truck must face life-and-death situations associated with being a firefighter, protectingtheir true emotions with dark humor."></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label  class="col-sm-2 form-control-label">Run Time Duration</label>
                                        <div class="col-sm-10">
                                            <input type="number" name="quantity" min="1" max="5">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label  class="col-sm-2 form-control-label">Production Company</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" value="TCFTV">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 form-control-label">SAP</label>
                                        <div class="col-sm-10">
                                            <select class="form-control">
                                                <option></option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label  class="col-sm-2 form-control-label">Close Captioned</label>
                                        <div class="col-sm-10">
                                            <input type="checkbox" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 form-control-label">Status</label>
                                        <div class="col-sm-10">
                                            <select class="form-control">
                                                <option>Active</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 form-control-label">Series Type</label>
                                        <div class="col-sm-10">
                                            <select class="form-control">
                                                <option>Original</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label  class="col-sm-2 form-control-label">Genres</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" value="Drama">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 form-control-label">Language</label>
                                        <div class="col-sm-10">
                                            <select class="form-control">
                                                <option>English</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>

                </md-content>
                <div ng-show="collapsedProductionInfo">

                    <div>
                        <md-button class="" aria-label="Settings" ng-controller="shows" ng-click="openAddShow()">
                          Add Production Cycle  <md-icon md-svg-icon="assets/svg/add.svg"></md-icon>
                        </md-button>
                        <div class="sep">
                            <table id="production" class="display" width="100%"></table>
                        </div>

                        <md-button class="" aria-label="Settings" ng-controller="shows" ng-click="openAddShow()">
                            Add Episode  <md-icon md-svg-icon="assets/svg/add.svg"></md-icon>
                        </md-button>

                        <md-button class="" id="edit-episode-toggle" aria-label="Settings" ng-controller="shows" ng-click="editEpisode()">
                            Edit Episode  <md-icon md-svg-icon="assets/svg/add.svg"></md-icon>
                        </md-button>

                        <div class="sep2">
                            <table id="episodes" class="display" width="100%"></table>
                        </div>
                    </div>

                </div>

                <div ng-show="collapsedMediaVersion">

                    <div>
                        <md-button class="md-icon-button" aria-label="Settings" ng-controller="shows" ng-click="openAddVersion()">
                            <md-icon md-svg-icon="assets/svg/add.svg"></md-icon>
                        </md-button>
                        <div>
                            <table id="versions" class="display" width="100%"></table>
                        </div>
                    </div>

                </div>
            </v-pane-content>
        </v-pane>
    </v-accordion>

</div>

<script src="./bower_components/angular/angular.js"></script>
<script src="./bower_components/jquery/dist/jquery.js"></script>
<script src="./bower_components/datatables/media/js/jquery.dataTables.js"></script>
<script src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="./bower_components/angular-animate/angular-animate.js"></script>
<script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>
<script src="./bower_components/angular-aria/angular-aria.js"></script>
<script src="./bower_components/v-accordion/dist/v-accordion.js"></script>


<script src="./src/shows/shows.js"></script>
<script src="./src/shows/showsController.js"></script>
<script src="./src/shows/showsService.js"></script>

<!--<script src="./src/production/production.js"></script>
<script src="./src/production/productionController.js"></script>
<script src="./src/production/productionService.js"></script>-->


<script type="text/javascript">
    angular
            .module('starterApp', ['ngMaterial', 'vAccordion', 'shows'])
            .config(function($mdThemingProvider, $mdIconProvider) {

                $mdIconProvider
                        .icon("menu", "./assets/svg/menu.svg", 24)
                        .icon("share", "./assets/svg/share.svg", 24)
                        .icon("google_plus", "./assets/svg/google_plus.svg", 512)
                        .icon("hangouts", "./assets/svg/hangouts.svg", 512)
                        .icon("twitter", "./assets/svg/twitter.svg", 512)
                        .icon("phone", "./assets/svg/phone.svg", 512);

                $mdThemingProvider.theme('default')
                        .primaryPalette('blue')
                        .accentPalette('red');

            }).controller( 'shows' , ['$q', '$scope', '$timeout', '$mdSidenav', function($q, $scope, $timeout, $mdSidenav) {

                $scope.selected = [];

                $scope.query = {
                    order: 'name',
                    limit: 5,
                    page: 1
                };



                $scope.getTypes = function() {
                    return ['Candy', 'Ice cream', 'Other', 'Pastry'];
                };

                $scope.toggleShowsList = function() {
                    $mdSidenav('selectedShow').toggle();
                };

                $scope.openAddShow = function() {
                    $mdSidenav('addShow').toggle();
                };

                $scope.openAddVersion = function() {
                    $mdSidenav('addVersion').toggle();
                };

                $scope.openLeftMenu = function() {
                    $mdSidenav('left').toggle();
                };

                $scope.openSettingsMenu = function() {
                    $mdSidenav('settings').toggle();
                };

                $scope.openDesignerMenu = function() {
                    $mdSidenav('designer').toggle();
                };

                $scope.editEpisode = function() {
                    $mdSidenav('edit-episode').toggle();
                };

                $scope.onpagechange = function(page, limit) {
                    var deferred = $q.defer();

                    $timeout(function() {
                        deferred.resolve();
                    }, 2000);

                    return deferred.promise;
                };

                $scope.onorderchange = function(order) {
                    var deferred = $q.defer();

                    $timeout(function() {
                        deferred.resolve();
                    }, 2000);

                    return deferred.promise;
                };
            }]);

</script>
<script type="text/javascript">
    var dataSetShows = [
        [ "Rescue Me", "FOX", "XRM", "Active", "00:30:00", "The crew of the New York City's 62 Truck must face life-and-death situations associated with being a firefighter, protectingtheir true emotions with dark humor.", "Original Series", "Drama ", "TCFTV ", " " ],
        [ "Heros of the Storm", "FOX", "", "Active", "02:00:00", "Loren ipsun So dolar ite", "COMPETITION", " ", " ", " " ],
        [ "GRINDER, THE", "FOX", "GRI", "Active", "00:30:00", "Loren ipsun So dolar ite", "COMEDY", " ", " ", " " ],

    ];

    var dataSetProd = [
        [ "Season 1", "XRM ", "1", "Active", " ","Fiscal 2015 ","19 "," ", " ", "12", "" ],
        [ "Season 2", "XRM ", "2", "Active", " ","  ","32 "," ", " ", "12", "" ],
        [ "Season 3", "XRM ", "3", "Active", " ","  ","13 "," ", " ", "12", "" ],
        [ "Season 4", "XRM ", "4", "Active", " ","  ","13 "," ", " ", "12", "" ],
        [ "Season 5", "XRM ", "5", "Active", " ","  ","13 "," ", " ", "12", "" ],
        [ "Season 6", "XRM ", "6", "Active", " ","  ","13 "," ", " ", "12", "" ],


    ];

    var dataSetEpisodes = [
        [ "Legacy", "XRM-601", " ", "1", "106", " ", "00:30:00", "6/28/2010", "TCFTV ", " " ],
        [ "Change", "XRM-602", " ", "2", "107", " ", "00:30:00",  "6/28/2010 ", " " ],
        [ "Comeback", "XRM-603", " ", "3", "108", " ", "00:30:00",  "7/04/2010 ", " " ],
        [ "Breakout", "XRM-604", " ", "4", "109", " ", "00:30:00",  "7/11/2010 ", " " ],
        [ "Blackout", "XRM-605", " ", "5", "110", " ", "00:30:00", "7/18/2010 ", " " ],
        [ "Sanctuary", "XRM-606", " ", "6", "111", " ", "00:30:00",  "7/22/2010 ", " " ],
        [ "Forgiven", "XRM-607", " ", "7", "112", " ", "00:30:00",  "7/28/2010 ", " " ],
        [ "Cowboy", "XRM-608", " ", "8", "113", " ", "00:30:00",  "8/04/2010 ", " " ],

    ];

    var dataSetVersions = [
        [ "Version #" ,  "Version Name" ,  "Run Time Duration", "Media Content Duration",  "Production Number",  "Segments",  "Rough Format",  "Format" ,  "Content Rating",   "Content Rating Desc",
            "SAP", "CC",  "Default",  "Comment", "Status",  "Netowrk",  "Orig Air Date", "Orig Air Day / Time", "2nd Air Date", "2nd Air Day / Time", "Air Clock" ]

    ];

    $(document).ready(function() {

        var showsTable = $('#shows').DataTable({
            data: dataSetShows,
            pagination: false,
            columns: [
                { title: "Show Title" },
                { title: "Show Network" },
                { title: "Show Code" },
                { title: "Show Status" },
                { title: "Run Time Duration" },
                { title: "Show Description" },
                { title: "Show Category" },
                { title: "Show Genre" },
                { title: "Production Company" },
                { title: "Supplier" }
            ]
        });

        $('#shows tbody').on('click', 'tr', function () {
            var data = showsTable.row( this ).data();
            $( "#gen-info" ).trigger( "click" );
            //$( "#show-list", "#gen-info" ).trigger( "click" );
            $( "#gen-info-toggle" ).trigger( "click" );
            //alert( 'You clicked on '+data[0]+'\'s row' );
        } );



        var productionTable = $('#production').DataTable({
            data: dataSetProd,
            pagination: false,
            columns: [
                { title: "Name" },
                { title: "Show Code" },
                { title: "Production #" },
                { title: "Status" },
                { title: "Note" },
                { title: "Fiscal Year" },
                { title: "Broadcast Season" },
                { title: "Rough Format" },
                { title: "Episode Count" },
                { title: "Program Category" }
            ]
        });

        $('#production tbody').on('click', 'tr', function () {
            var data = productionTable.row( this ).data();
            //alert( 'You clicked on '+data[0]+'\'s row' );
        } );



        var episodeTable = $('#episodes').DataTable({
            data: dataSetEpisodes,
            pagination: false,
            columns: [
                { title: "Episode Title" },
                { title: "Code" },
                { title: "Link Code" },
                { title: "Episode #" },
                { title: "Series Episode #" },
                { title: "Days" },
                { title: "Run Time Duration" },
                { title: "Orig Air Date" }
            ]
        });

        $('#episodes tbody').on('click', 'tr', function () {
            var data = episodeTable.row( this ).data();
            $( "#show-list" ).trigger( "click" );
            $( "#edit-episode-toggle" ).trigger( "click" );

            //var episodeInfo = $("#episode-info");
            //episodeInfo.toggle();
            //alert( 'You clicked on '+data[0]+'\'s row' );
        } );



        var versionsTable = $('#versions').DataTable({
            data: dataSetVersions,
            pagination: false,
            columns: [
                { title: "Version #" },
                { title: "Version Name" },
                { title: "Run Time Duration" },
                { title: "Media Content Duration" },
                { title: "Production Number" },
                { title: "Segments" },
                { title: "Rough Format" },
                { title: "Format" },
                { title: "Content Rating" },
                { title: "Content Rating Desc" },
                { title: "SAP" },
                { title: "CC" },
                { title: "Default" },
                { title: "Comment" },
                { title: "Status" },
                { title: "Netowrk" },
                { title: "Orig Air Date" },
                { title: "Orig Air Day / Time" },
                { title: "2nd Air Date" },
                { title: "2nd Air Day / Time" },
                { title: "Air Clock" }
            ]
        });
        $('#versions tbody').on('click', 'tr', function () {
            var data = versionsTable.row( this ).data();
            //alert( 'You clicked on '+data[0]+'\'s row' );
        } );
    });

</script>
</body>

</html>
